body {
    width: 1440px;
    margin: 0px auto; 
}

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
} 

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px 150px;
}

.page-title {
    font-weight: 800;
    font-size: 28px;
    margin: 0;
}

nav button {
    font-weight: 400;
    font-size: 18px;
    padding: 16px 20px;
    background: #ffffff;
}

.hero-section {
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    padding: 24px 220px;
}

.hero-icon-container{
    width: 220px;
    margin: 0px auto;
}

.hero-icon {
    width: 220px;
    height: 220px;
}

.hero-text{
    margin: 32px auto;
    text-align: center;
}
.hero-heading {
    font-weight: 800;
    font-size: 48px;
    margin: 0px;
}
.hero-paragraph {
    font-weight: 400;
    font-size: 16px;
    margin: 14px 40px 10px; 
}

.button-containar{
    width:fit-content ;
    margin: 0px auto 14px;
}
.feedback-button {
    font-weight: 400;
    font-size: 18px;
    padding: 16px 20px;
    border-radius: 8px;
    background: #000000;
    color: #ffffff;
}
.motive-section {
    margin: 74px 150px;
    padding: 80px 97px;
    background: rgba(13, 19, 33, 2%);
}

.why-text {
    margin: 0 48px;
    text-align: center;
}

.why-heading {
    font-weight: 800;
    font-size: 32px;

}

.why-paragraph {
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
}

.why-contents {
    margin: 48px 0 0;
    /* border: 1px solid black; */
}

.first-motive {
    background: #ffffff;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-group-text {
    width: 478px;
}
.motive-text {
    text-align: left;
    padding: 0;
}
.motive-heading {
    width: 390px;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}
.motive-paragraph {
    font-weight: 400;
    font-size: 16px;
    margin: 16px 0;
}
.learn-more {
    border: 1px solid blach;
    margin-top: 16px;
    padding: 12px 20px;
    font-weight: 600;
    font-size: 20px;
    background: #ffffff;
    color: #0D1321;
}

.second-motive {
    background: #ffffff;
    margin: 32px 0;
    padding: 48px;
    display: flex;
    gap: 32px;
    justify-content: left;
    align-items: center;
}
.second-image {
    width: 240px;
    height: 240px;
}
    
.second-group-text {
    width: 478px;
}

.third-motive {
    background: #ffffff;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third-group-text {
    width: 478px;
}
.motive-text {
    text-align: left;
    padding: 0;
}

.inspiretion-section {
    width: 1140px;
    margin: 0 auto;
}
.inspiration-text {
    width: 852px;
    text-align: center;
    margin: 0 auto 48px;
}
.inspiration-heading {
    font-weight: 800;
    font-size: 32px;

}

.inspiration-paragraph {
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
}

.inspiration-video {
    padding: 32px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(13, 19, 33, 20%);
    border-radius: 18px;

}

.video {
    width: 1076px;
    height: 550px;
    border-radius: 20px;
}

.target-section {
    width: 1140px;
    margin: 48px auto;
}
.current-terget {
    margin: 100px 0;
}

.current-terget-text {
    width: 852px;
    text-align: center;
    margin: 0 auto 48px;
}
.current-terget-heading {
    font-weight: 800;
    font-size: 32px;

}

.current-terget-paragraph {
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
}

.target-info {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.infocard-1 {
    width: 364px;
    background: rgba(255, 76, 30, 5%);
    padding: 40px;
    border-radius: 16px;
}

.infocard-2 {
    width: 364px;
    background: rgba(0, 76, 232, 5%);
    padding: 40px;
    border-radius: 16px;

}

.infocard-3 {
    width: 364px;
    background: rgba(255, 223, 0, 10%);
    padding: 40px;
    border-radius: 16px;
}

.info-icon {
    width: 56px;
    height: 56px;
}

.info-text {
    padding: 24px 0;
}

.info-heading {
    font-weight: 800;
    font-size: 24px;
}

.info-paragraph {
    font-weight: 400;
    font-size: 16px;
    margin-top: 8px;
}

.info-sourse {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.feedback-section {
    background-image: url(../assets/handshake.jpg);
    width: 1140px;
    margin: 0 auto;
    padding: 64px 48px ;
    border-radius: 16px;
}

.feedback-text {
    width: 730px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 24px;
    color: #ffffff;
}
.feedback-heading {
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
}

.feedback-paragraph {
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
}

.feedback-info {
    width: 730px;
    height: 58px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.feedback-input {
    width: 548px;
    padding: 18px 20px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
}
.feedback-button {
    width: 120px;
    border-radius: 8px;
    background: #ffffff;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
}